@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprumitalic.woff2) format("woff2"),
    url(../fonts/cuprumitalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  /* Text */
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ee3643;
  --basic-viole-blue: #32425c;
  --basic-aluminum: #a9a9a9;
  --basic-white-aluminum: #f3f7f9;
  --basic-smoke: #f1f5f7;
  --basic-orange-yellow: #ffd180;

  /* Background */
  --basic-darck-blue: #293449;
  --basic-green: #36a63e;
  --basic-orange: #ffbf47;
  --basic-blue: #3bbce3;
  --basic-violet: #dc91d8;
  --basic-light-green: #8ed78f;
  --basic-beige: #f9f5f0;
  --basic-smoky-white: #f4f4f4;
  --basic-pearl-white: #f7f3ec;
  --basic-gray: #ababab;
  --basic-white-gray: #f1f1f1;


  /* Border */
  --basic-border-light-gray: #e5e5e5;
  --basic-border-darck-gray: #aeaeae;
  --basic-border-gray: #c5c5c5;
  --basic-border-smoke: #eaeaea;
  --basic-border-form: rgba(0, 0, 0, 0.1);

  /* Box Shadow */
  --basic-shadow-black-75: rgba(0, 0, 0, 0.75);
  --basic-shadow-black-24: rgba(0, 0, 0, 0.24);
  --basic-shadow-black-15: rgba(0, 0, 0, 0.15);
  --basic-shadow-marengo: #405069;
  --basic-shadow-darck-blue: #293449;
  --basic-shadow-green: #367315;

  /* Opacity */
  --basic-black-opasity-30: rgba(0, 0, 0, 0.3);
  --basic-black-opasity-25: rgba(0, 0, 0, 0.25);
  --basic-white-opasity-30: rgba(255, 255, 255, 0.3);
  --basic-white-opasity-50: rgba(255, 255, 255, 0.5);

  /* Active */
  --basic-active-black: #161d29;
  --basic-active-red: #ba2732;
  --basic-active-green: #518534;
  --basic-active-gray: #b5b5b5;
  --basic-active-orange: #ffb180;
  --basic-active-darck-blue: #1d2739;

  /* Hover */
  --basic-hover-green: #5fbb2d;
  --basic-hover-darck-gray: #3d546f;
  --basic-hover-red: #ca2c37;
  --basic-hover-gray-opasity-30: rgba(197, 197, 197, 0.3);
  --basic-hover-darck-gray-opasity-30: rgb(169, 169, 169, 0.3);


  /* Gradient */
  --basic-gradient-darck-blue: linear-gradient(0deg, #212A3A, #212A3A);
}

/* Global Style*/
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Visually Hidden */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Class Style */
/* Index */
/* Main Header */
.menu-user {
  width: 100%;
  background-color: var(--basic-darck-blue);
}

.menu-user__container {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 42px;
}

.logo {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px 0px var(--basic-shadow-black-24);
  text-align: center;
  position: relative;
}

.logo__img {
  width: 108px;
  height: 18px;
  margin-top: 12px;
}

.basket-user__form-search {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-darck-blue);
  position: relative;
  top: -3px;
  min-height: 42px;
}

.basket-user__button {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-darck-blue);
  cursor: pointer;
  position: relative;
  top: -3px;
  width: 150px;
  min-height: 42px;
}

.basket-user__button_bookmarks {
  position: relative;
  left: 65px;
}

.basket-user__button_basket {
  position: relative;
  left: 30px;
}

.basket-user__button-place-order {
  background-color: var(--basic-green);
}

.basket-user-icons-cart {
  z-index: 1;
  position: relative;
  left: 70px;
  bottom: 5px;
}

.basket-user-icons-bookmarks {
  z-index: 1;
  position: relative;
  left: 100px;
  bottom: 4px;
}

.menu-site {
  background-color: var(--basic-smoke);
  min-height: 270px;
}

.menu-site__container {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.main-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: var(--basic-red);
  margin-top: 38px;
  margin-left: 30px;
}

.menu-site__contacts  {
  text-align: center;
  margin: 0;
  margin-top: 25px;
  margin-left: 50px;
}

.contact-phone__link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  display: inline-block;
  width: 270px;
  min-height: 45px;
}

.contact-phone {
  margin: 0;
  margin-top: 7px;
  background: url(../img/icons/icon-phone.svg) no-repeat 25px 5px;
}

.contact-address {
  font-size: 14px;
  color: var(--basic-viole-blue);
  margin: 0;
}

.authorization__link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: inline-block;
  text-align: center;
  width: 121px;
  height: 45px;
  margin-right: 5px;
}

.authorization__link-text-login {
  position: relative;
  bottom: 30px;
  left: 5px;
}

.authorization__link-text-registration {
  position: relative;
  bottom: 10px;
}

 .authorization__link-login {
  position: relative;
  top: 20px;
}

.authorization__icon-login {
  position: relative;
  top: 14px;
  right: 40px;
  z-index: 1;
}

.list-markers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation {
  max-width: 940px;
  margin: auto;
}

.site-navigation__list {
  min-height: 60px;
  background-color: var(--basic-viole-blue);
  box-shadow: inset 0px -5px 0px 0px var(--basic-darck-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.site-navigation__list-item-link {
  color: var(--basic-white);
  text-align: center;
  padding: 20px 30px;
}

/* Main */
.products-and-services__list {
  max-width: 940px;
  margin: 60px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
}

.materials {
  background:
    url(../img/icons/icon-materials.svg) no-repeat 213px 31px,
    url(../img/icons/icon-new.svg) no-repeat 230px 0px;
}

.instrument {
  background: url(../img/icons/icon-instrument.svg) no-repeat 194px 34px;
}

.technic {
  background: url(../img/icons/icon-technic.svg) no-repeat 194px 31px;
}

.discounts {
  grid-column: 3/4;
  grid-row: 2/3;
  background: url(../img/icons/icon-discounts.svg) no-repeat 196px 30px;
}

.delivery {
  grid-column: 3/4;
  grid-row: 3/4;
  background: url(../img/icons/icon-delivery.svg) no-repeat 191px 32px;
}

.products-and-services__slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.products-and-services__list-item_orange {
  background-color: var(--basic-orange);
}

.products-and-services__list-item_blue {
  background-color: var(--basic-blue);
}

.products-and-services__list-item_violet {
  background-color: var(--basic-violet);
}

.products-and-services__list-item_green {
  background-color: var(--basic-light-green);
}

.products-and-services__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  margin-top: 20px;
  margin-left: 23px;
}

.products-and-services__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-white-opasity-30);
  display: inline-block;
  text-align: center;
  margin-left: 23px;
  width: 135px;
  min-height: 38px;
  position: relative;
  bottom: 10px;
  z-index: 1;
}

.products-and-services__link-text {
  margin: 0;
  margin-top: 10px;
}

.products-and-services__slider-container {
  background-color: var(--basic-black-opasity-25);
  position: relative;
  z-index: 1;
  min-height: 104px;
}

.products-and-services__slider-title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-left: 24px;
  position: relative;
  top: 23px;
}

.products-and-services__slider-text {
  margin: 0;
  color: var(--basic-white);
  margin-left: 24px;
  position: relative;
  top: 30px;
}

.products-and-services__slider-container-img {
  position: absolute;
  top: 515px;
}

.products-and-services__slider-img {
  width: 620px;
  height: 266px;
}

.products-and-services__slider-link {
  width: 192px;
  min-height: 38px;
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 40px;
  right: 600px;
  z-index: 1;
}

.products-and-services__slider-link-text {
  margin: 0;
  margin-top: 11px;
}

.button-back {
  border: none;
  background: transparent;
  position: relative;
  right: 810px;
  bottom: 100px;
  cursor: pointer;
}

.button-next {
  border: none;
  background: transparent;
  transform: rotate(180deg);
  position: relative;
  right: 280px;
  bottom: 105px;
  cursor: pointer;
}

.button-slider {
  width: 10px;
  height: 10px;
  border: none;
  background-color: var(--basic-white);
  border-radius: 50%;
  position: relative;
  right: 605px;
  bottom: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.button-slider__one {
  position: relative;
  bottom: 43px;
}

.button-slider__two {
  position: relative;
  bottom: 43px;
}

.button-slider_active::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 2px;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-viole-blue);
  margin: 0;
}

.title_black {
  color: var(--basic-black);
}

.products__container {
  max-width: 940px;
  min-height: 90px;
  margin: auto;
  background-color: var(--basic-beige);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  margin-left: 28px;
}

.products__link-all {
  display: inline-block;
  margin-right: 14px;
  width: 192px;
  min-height: 38px;
  text-align: center;
}

.products__link-all-text {
  margin: 0;
  margin-top: 11px;
}

.products__list {
  max-width: 940px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.products__list-item {
  position: relative;
  border: 1px solid var(--basic-border-smoke);
  flex-basis: 218px;
  min-height: 318px;
  display: grid;
  grid-template-rows: 170px;
  text-align: center;
}

.icon-new {
  position: absolute;
  left: 118px;
}

.products__link {
  order: 2;
}

.products__bosch {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  margin: 0;
}

.products__bosch-img {
  margin: auto;
}

.products__bosch-img-bfg-9000 {
  width: 184px;
  height: 164px;
}

.products__bosch-img-bfg-3000 {
  width: 127px;
  height: 112px;
}

.products__bosch-img-bfg-6000 {
  width: 144px;
  height: 128px;
}

.products__bosch-img-bfg-2000 {
  width: 127px;
  height: 112px;
}

.products__old-price {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-aluminum);
  margin: 0;
  order: 3;
}

.products__button {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
  cursor: pointer;
  order: 4;
  margin: auto;
  margin-bottom: 20px;
  width: 140px;
  height: 38px;
  background: url("../img/img-backgrund/red-button.svg") no-repeat center;
}

.button__hover {
  position: relative;
  top: 60px;
}

.button_hover-buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-shadow-green);
  border-radius: 2px;
  width: 135px;
  min-height: 38px;
  position: relative;
}

.button_hover-buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 25px;
  background: url(../img/icons/icon-cart.svg);
  opacity: 50%;
}

.button_hover-bookmarks {
  color: var(--basic-viole-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  width: 135px;
  min-height: 38px;
  margin-top: 10px;
}

.manufacturers__container {
  max-width: 940px;
  min-height: 90px;
  margin: auto;
  margin-top: 70px;
  background-color: var(--basic-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manufacturers__title {
  margin-left: 28px;
}

.manufacturers__link-all {
  display: inline-block;
  margin-right: 14px;
  width: 192px;
  min-height: 38px;
  text-align: center;
}

.manufacturers__link-all-text {
  margin: 0;
  margin-top: 11px;
}

.manufacturers__list {
  max-width: 940px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.manufacturers__list-item {
  border: 1px solid var(--basic-border-smoke);
  flex-basis: 218px;
  min-height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturers__img-bosch {
  width: 126px;
  height: 37px;
}

.manufacturers__img-makita {
  width: 123px;
  height: 40px;
}

.manufacturers__img-dewalt {
  width: 146px;
  height: 44px;
}

.manufacturers__img-interskol {
  width: 200px;
  height: 76px;
}

.manufacturers__img-hitachi {
  width: 169px;
  height: 31px;
}

.manufacturers__img-lg {
  width: 121px;
  height: 47px;
}

.manufacturers__img-aeg {
  width: 151px;
  height: 96px;
}

.manufacturers__img-metabo {
  width: 204px;
  height: 69px;
}

.service {
  background-color: var(--basic-smoke);
  margin-top: 70px;
}

.container__service {
  max-width: 940px;
  min-width: 522px;
  margin: auto;
}

.service__contant {
  position: relative;
  top: 60px;
}

.service__text {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
}

.service__list-button {
  width: 240px;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  top: 120px;
  z-index: 1;
}

.service__list-button::after {
  content: "";
  width: 10px;
  height: 279px;
  box-shadow: 15px 0px 15px 0px var(--basic-black);
  opacity: 25%;
  position: absolute;
  top: -50px;
  right: -13px;
  transform: rotate(180deg);
}

.service__button {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-viole-blue);
  cursor: pointer;
  box-shadow:
    0px 1px 0px var(--basic-shadow-darck-blue),
    inset 0px 1px 0px var(--basic-shadow-marengo);
  width: 240px;
  padding: 14px 0 18px 22px;
}

.service__button_active {
  color: var(--basic-viole-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.service__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  position: relative;
  bottom: 50px;
}

.service__slider-container {
  position: relative;
  left: 120px;
}

.service__slider-container_warranty {
  left: 100px;
}

.service__slider-container_credit {
  left: 320px
}

.service__title-slider {
  color: var(--basic-viole-blue);
}

.service__slider-img-delivery {
  width: 468px;
  height: 261px;
}

.service__slider-img-warranty {
  width: 389px;
  height: 283px;
}

.service__slider-img-credit {
  width: 465px;
  height: 285px;
  order: 1;
}

.service__slider-button {
  align-self: center;
  border-radius: 2px;
  width: 195px;
  min-height: 38px;
  position: relative;
  left: 40px;
}

.technomart-company {
  max-width: 940px;
  min-height: 522px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 200px;
}

.technomart-company__container {
  margin-top: 70px;
}

.technomart-company__text {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  margin-top: 24px;
}

.technomart-company__list-item {
  position: relative;
  margin-bottom: 12px;
  margin-left: 40px;
}

.technomart-company__list-item::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: var(--basic-red);
  position: absolute;
  top: 10px;
  left: -40px;
}

.technomart-company__link {
  display: inline-block;
  text-align: center;
  margin-top: 17px;
  width: 220px;
  min-height: 38px;
}

.technomart-company__link-text {
  margin: 0;
  margin-top: 10px;
}

.technomart-company__img-map {
  width: 300px;
  height: 158px;
  margin-top: 32px;
}

.technomart-company__button {
  margin-top: 25px;
  width: 300px;
  min-height: 38px;
}

/* Footer */
.main-footer__address {
  background-color: var(--basic-viole-blue);
  min-height: 200px;
}

.main-footer__address-container {
  max-width: 940px;
  margin: auto;
}

.main-footer__logo-img {
  width: 220px;
  height: 68px;
}

.main-footer__conntainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-footer__contact-details-address {
  color: var(--basic-white-aluminum);
  margin-bottom: 0;
}

.main-footer__contact-details-phone {
  color: var(--basic-white-aluminum);
}

.main-footer__navigation-list {
  display: flex;
  justify-content: end;
}

.main-footer__navigation {
  position: relative;
  bottom: 35px;
}

.main-footer__navigation-list-item {
  margin-left: 58px;
  margin-bottom: 34px;
}

.main-footer__navigation-link_white {
  color: var(--basic-smoke);
}

.main-footer__navigation-link_orange {
  color: var(--basic-orange-yellow);
}

.main-footer__contact {
  background-color: var(--basic-shadow-darck-blue);
  min-height: 100px;
}

.main-footer__contact-container {
  max-width: 940px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
}

.main-footer__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
}

.main-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 50px;
}

.main-footer__social-link {
  display: flex;
  flex-wrap: wrap;
  background: var(--basic-gradient-darck-blue);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 1px;
}

.main-footer__link {
  color: var(--basic-orange-yellow);
}

.main-footer__feedback {
  position: relative;
  left: 70px;
}

/* Window Feedback */
.feedback {
  width: 620px;
  min-height: 430px;
  margin: auto;
  box-shadow: 0px 4px 20px 0px var(--basic-shadow-black-15);
}

.line-decoration {
  width: 620px;
  height: 7px;
  background-color: var(--basic-red);
}

.feedback-form-container {
  max-width: 460px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.feedback-form__label {
  margin-bottom: 11px;
}

.feedback-form__input{
  border: 2px solid var(--basic-border-gray);
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  width: 220px;
  min-height: 38px;
  padding: 0;
}

.feedback-form__textarea {
  border: 2px solid var(--basic-border-gray);
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  width: 460px;
  min-height: 114px;
}

.feedback-form__container-button {
  background-color: var(--basic-smoky-white);
  min-height: 112px;
  display: flex;
  justify-content: center;
}

.feedback-form__button {
  width: 460px;
  min-height: 38px;
  align-self: center;
}

.feedback-form__button-close {
  position: relative;
  top: 10px;
  left: 570px;
}

/* Map */
.map {
  max-width: 940px;
  min-height: 450px;
  margin: auto;
  box-shadow: 0px 4px 20px 0px var(--basic-shadow-black-15);
}

.line-decoration-map {
  width: 940px;
  height: 7px;
  background-color: var(--basic-red);
}

.map__button-close {
  position: relative;
  top: 10px;
  left: 870px;
}

/* Catalog */
.main-page-catalog {
  font-family: "PT Sans", "Arial",  sans-serif;
}

.basket-user__button_add {
  background-color: var(--basic-red);
}

.authorization-user__name-link {
  display: inline-block;

}

.authorization-user__icon-user {
  position: relative;
  top: 55px;
  left: 20px;
}

.authorization-user__name {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  width: 300px;
  min-height: 45px;
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorization-user__icon-login {
  position: relative;
  top: 2px;
  right: 50px;
}

.authorization-user__container-link {
  text-align: center;
}

.authorization-user__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-viole-blue);
}

.authorization-user__link-products {
  position: relative;
  right: 20px;
}

.decoration-point {
  width: 6px;
  height: 7px;
  background-color: var(--basic-viole-blue);
  border-radius: 50%;
  position: relative;
  top: 17px;
  left: 145px;
}

.authorization-user__link-office {
  position: relative;
  left: 20px;
}

.breadcrumbs-list {
  max-width: 940px;
  margin: 21px auto;
  display: flex;
}

.breadcrumbs-list__item:not(:first-child) {
  margin-left: 40px;
}

.icon-right-small {
  position: relative;
  left: 18px;
}

.breadcrumbs-list__link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-title {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--basic-smoke);
  max-width: 940px;
  margin: auto;
  margin-bottom: 20px;
  min-height: 90px;
}

.catalog-title-text {
  position: relative;
  top: 30px;
  left: 30px;
}

.container-grid {
  display: grid;
  max-width: 940px;
  margin: auto;
  grid-template-columns: 220px 700px;
  grid-column-gap: 20px;
}

.filter__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--basic-pearl-white);
  min-height: 40px;
}

.filter__title-text {
  font-weight: 400;
  position: relative;
  top: 10px;
  left: 18px;
}

.filter {
  border: none;
  border-bottom: 1px solid var(--basic-border-form);
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 220px;
  margin-top: 20px;
}

.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 9px;
  background-color: var(--basic-pearl-white);
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.scale {
  height: 2px;
  background: var(--basic-border-gray);
}

.bar {
  width: 80%;
  height: 2px;
  background: var(--basic-green);
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray);
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  right: 60px;
  display: flex;
  margin-bottom: 20px;
}

.dash {
  position: absolute;
  top: 10px;
  left: 166px;
}

.price-controls__cost {
  font-family: inherit;
  font-size: inherit;
  width: 95px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--basic-pearl-white);
}

.filter-last {
  border: none;
}

.filter__legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  right: 10px;
  position: relative;
  top: 18px;
}

.filter__item {
  margin-top: 20px;
  position: relative;
}

.filter__item:last-child {
  margin-bottom: 20px;
}

.filter__name {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  left: 40px;
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-border-gray);
  border-radius: 2px;
}

.filter__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -39px;
  width: 22px;
  height: 17px;
  background: url(../img/icons/mark-small.svg) no-repeat;
}

.filter__radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 23px;
  height: 23px;
  border: 3px solid var(--basic-border-gray);
  border-radius: 50%;
}

.filter__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -32px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-border-gray);
  border-radius: 50%;
}

.filter__name-radio {
  position: relative;
  left: 30px;
}

.filter__botton {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--basic-border-light-gray);
  background-color: var(--basic-white);
  cursor: pointer;
  width: 220px;
  min-height: 38px;
}

.sorting {
  grid-row: 1;
  grid-column: 2/3;
  width: 700px;

}

.sorting__list {
  display: flex;
  position: relative;
  bottom: 35px;
}

.sorting__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--basic-pearl-white);
  min-height: 40px;
}

.sorting__title-text {
  font-weight: 400;
  position: relative;
  top: 10px;
  left: 20px;
}

.sorting__link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-opasity-30);
}

.sorting__link-cost {
  position: relative;
  left: 240px;
}

.sorting__link-type {
  position: relative;
  left: 300px;
}

.sorting__link-functional {
  position: relative;
  left: 380px;
}

.sorting__link_active {
  color: var(--basic-red);
}

.sorting__link_text-decoration {
  border-bottom: 1px dotted var(--basic-red);
}

.icon-up-dir {
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  bottom: 57px;
  left: 630px;
}

.icon-down-dir {
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  bottom: 57px;
  left: 630px;
}

.icon-dir_active {
  fill: var(--basic-red);
}

.products-catalog {
  grid-column: 2/3;
  grid-row: 1;
  margin-top: 50px;
}

.pagination {
  margin-top: 50px;
  display: flex;
}

.pagination__item {
  border: 1px solid var(--basic-border-light-gray);
  border-radius: 3px;
  margin-right: 10px;
  width: 38px;
  min-height: 38px;
  text-align: center;
}

.pagination__item-next {
  width: 140px;
}

.pagination__link {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
}

.pagination__item_active {
  background-color: var(--basic-red);
}

.pagination__link_active {
  color: var(--basic-white);
}

.puncher {
  background-color: var(--basic-smoke);
  min-height: 260px;
  margin-top: 60px;
}

.puncher__container {
  max-width: 940px;
  margin: auto;
}

.puncher__title {
  font-family: "Cuprum", "Arial", sans-serif;
  position: relative;
  top: 64px;
}

.puncher__text {
  font-size: 13px;
  margin: 0;
  position: relative;
  top: 80px;
}

/* Product Add */
.product-add {
  max-width: 620px;
  min-height: 282px;
  margin: auto;
  text-align: center;
  background: url(../img/icons/icon-mark.svg) no-repeat 70px 60px;
}

.line-decoration-product-add {
  width: 620px;
  height: 7px;
  background-color: var(--basic-red);
}

.product-add__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 67px;
}

.product-add__container-botton {
  background-color: var(--basic-white-gray);
  min-height: 112px;
}

.product-add__botton_place-order {
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 192px;
  min-height: 38px;
  margin-top: 37px;
  margin-right: 10px;
}

.product-add__botton_continue-shopping {
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 192px;
  min-height: 38px;
}

.product-add__botton-close {
  position: relative;
  top: 10px;
  left: 270px;
}

.button-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.disabled,
.products-and-services__slider_disabled,
.service__slider_disabled,
.button__hover_disabled {
  display: none;
}

/* Style Hover */
.basket-user__button-place-order:hover {
  background-color: var(--basic-hover-green);
}

.basket-user__form-search:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.authorization__link:hover {
  color: var(--basic-red);
}

.authorization-user__link:hover {
  color: var(--basic-red);
}

.site-navigation__list-item-link:hover {
  background-color: var(--basic-shadow-darck-blue);
}

.products-and-services__link:hover {
  background-color: var(--basic-hover-gray-opasity-30);
}

.button_hover:hover {
  background-color: var(--basic-hover-red);
}

.products__list-item:hover {
  box-shadow: 0 4px 20px 0 var(--basic-shadow-black-15);
}

.button_hover-buy:hover {
  background-color: var(--basic-hover-green);
}

.button_hover-bookmarks:hover {
  border-color: var(--basic-viole-blue);
}

.manufacturers__list-item:hover {
  box-shadow: 0 4px 20px 0 var(--basic-shadow-black-15);
}

.service__button:not(.service__button_active):hover {
  background-color: var(--basic-darck-blue);
}

.main-footer__navigation-link:hover {
  text-decoration: underline;
}

.main-footer__social-link:hover {
  color: var(--basic-white);
  background: var(--basic-red);
}

.main-footer__link:hover {
  text-decoration: underline;
}

.sorting__link:not(.sorting__link_active):hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.pagination__item:hover {
  border: 1px solid var(--basic-border-gray);
}

.basket-user-icons_hover:hover {
  fill: var(--basic-white);
  fill-opacity: 1;
}

.authorization__icon-login:hover {
  fill: var(--basic-hover-darck-gray);
}

.authorization-user__icon-user:hover {
  fill: var(--basic-hover-darck-gray);
}

.authorization-user__icon-login:hover {
  fill: var(--basic-hover-darck-gray);
}

.filter__checkbox:hover + label::before {
  border-color:  var(--basic-active-gray);
}

.filter__radio:hover + label::before {
  border-color:  var(--basic-active-gray);
}

.filter__radio:hover + label::after {
  background-color:  var(--basic-active-gray);
}

.icon-dir:hover {
  fill: var(--basic-black);
}

.products__list-item:hover .products__bosch-img {
  display: none
}

.products__list-item:hover .button__hover_disabled {
  display: initial;
}

/* Style Active  */
.logo:active {
  background-color: var(--basic-active-red);
}

.basket-user__button_active:active {
  color: var(--basic-white-opasity-50);
  background-color: var(--basic-active-black);
}

.basket-user__button-place-order:active {
  color: var(--basic-white-opasity-50);
}

.basket-user__form-search:active {
  background-color: var(--basic-white);
}

.authorization__link:active {
  color: var(--basic-border-gray);
}

.authorization-user__name:active {
  color: var(--basic-border-gray);
}

.authorization-user__link:active {
  color: var(--basic-border-gray);
}

.site-navigation__list-item-link:active {
  color: var(--basic-white-opasity-50);
  background-color: var(--basic-active-darck-blue);
}

.products-and-services__link:active {
  background-color: var(--basic-hover-darck-gray-opasity-30);
}

.button_active:active {
  background-color: var(--basic-active-red);
}

.button_hover-buy:active {
  background-color: var(--basic-active-green);
}

.button_hover-bookmarks:active {
  opacity: 50%;
}

.manufacturers__list-item:active {
  box-shadow: 0 4px 20px 0 var(--basic-shadow-black-15);
  opacity: 50%;
}

.main-footer__navigation-link:active {
  text-decoration: none;
  opacity: 50%;
}

.main-footer__link:active {
  text-decoration: none;
  color: var(--basic-red);
}

.pagination__item:active {
  border: 1px solid var(--basic-red);
}

.authorization__icon-login:active {
  fill: var(--basic-border-gray);
}

.authorization-user__icon-user:active {
  fill: var(--basic-border-gray);
}

.authorization-user__icon-login:active {
  fill: var(--basic-border-gray);
}

.filter__checkbox:active + label::before {
  border: 2px solid var(--basic-active-gray);
  opacity: 50%;
}

.filter__checkbox:active + label::after {
  opacity: 50%;
}

.filter__radio:active + label::before {
  border-color:  var(--basic-active-gray);
  opacity: 50%;
}

.filter__radio:active + label::after {
  background-color:  var(--basic-active-gray);
  opacity: 50%;
}

.icon-dir:active {
  fill: var(--basic-red);
}

/* Focus */
.basket-user__form-search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.basket-user-icons-search:focus {
  fill: var(--basic-red);
}


/* Blank */
.main-blank {
  max-width: 940px;
  min-height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main-blank__text {
  align-self: center;
  text-transform: uppercase;
}
